@media screen and (max-width: 775px) {
  .header {
    max-width: 599px;
    padding-left: 19px;
  }
  .profile {
    max-width: 599px;
    display: flex;
    margin: 40px auto;
  }

  .profile__description {
    text-align: left;
  }

  .profile__title {
    margin: 0;
  }

  .profile__add-button {
    margin-right: 0;
  }

  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }

  .footer__content {
    margin: 0 auto;
    max-width: 599px;
  }
}

@media screen and (max-width: 580px) {
  .page {
    margin: 0 19px;
  }

  .header {
    padding: 0 0 32px 0;
    margin-bottom: 0;
  }

  .profile {
    flex-direction: column;
    margin-top: 42px;
    width: 282px;
    margin-bottom: 0;
  }

  .profile__image {
    margin: 0 0 30px;
  }

  .profile__title {
    max-width: 196px;
    align-items: center;
    font-size: 22px;

    line-height: 26.63px;
    text-align: center;
  }

  .profile__info {
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px;
  }

  .cards {
    margin-top: 36px;
  }

  .card__list {
    margin-bottom: 48px;
  }

  .footer {
    max-width: 282px;
    max-height: 14px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}
