.footer {
  max-width: 880px;
  margin: 0 auto 60px;
}

.footer__content {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 775px) {
  .footer__content {
    margin: 0 auto;
    max-width: 599px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    max-width: 282px;
    max-height: 14px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}
