.header {
  margin: 45px auto 40px auto;
  max-width: 880px;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.header__image {
  width: 173px;
  height: 33px;
  margin: 0;
}

@media screen and (max-width: 775px) {
  .header {
    max-width: 599px;
    padding-left: 19px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    padding: 0 0 32px 0;
    margin-bottom: 0;
  }
}
